/*color*/
$primaryColor: #172F71;
$secondaryColor: #DDB4C4;
$thirdColor: #E17342;
$fourthColor: #FFFFF3;
$fifthColor: #000000;

/*fonts*/
$paragraphFont: 'Source Sans Pro', sans-serif;
$headerFont: 'Granville', serif;