@import './variables';

body{
    font-family: $paragraphFont;
    background-color: $primaryColor;
    margin: 0;
}
/*Section start the first you see on the page*/
.sectionStart {
    text-align: center;
    img {
        margin-top: 10%;
    }
}

/*section 1 below*/
.section1 {
    margin: 5%;
    background-color: $primaryColor;
    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
        
        a {
            padding-right: 2em;
        }
        button {
            position: fixed;
            right: 2rem;
            bottom: 2rem;
            background-color: transparent;
            border: none;
            img {
                opacity: 50%;
                width: 42px;
            }
            img:hover {
                opacity: 30%;
            }
    }
    .headerLogo {
        img {
            width: 9vw;
            height: 9vw;
        }
    }
    .section1SocialIcon:hover {
        opacity: 40%;
    }
    }
    .section1Container {
        margin-bottom: 45%;
        .Section1Info {
            float: left;
            h2 {
                color: $thirdColor;
                text-decoration: underline;
                margin: 0;
            }
        }
        iframe {
            float: right;
            width: 45vw;
            height: 45vh;
            border-width: 0px;
        }
        h1 {
            color: $thirdColor;
            font-size: 5em;
            margin: 0;
        }
        p {
            color: $fourthColor;
        }
        button {
            padding: 0.9em 1.5em;
            background-color: $thirdColor;
            border: none;
            border-radius: 0.1em;
        }
}
}

/*section 2 below*/
.section2 {
    text-align: center;
    padding: 5%;
    padding-top: 30px;
    background-color: $secondaryColor;
    h1 {
        text-align: center;
        color: $fourthColor;
        font-size: 5em;
        margin:0;
    }
    img {
        width: 30vw;
    }
    .section2Container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        .section2profil {
            img {
                border-radius: 0px;
                margin-bottom: 0.5rem;
            }
            p {
                margin: 0;
            }
        }
        img {
            width: 200px;
            margin: 40px;
        }
    }
}

/*section 3 herunder*/
.section3 {
    padding: 5%;
    color: $fourthColor;
    text-align: center;
    .section3Container {
        display: flex;
        justify-content: space-evenly;
    }
    img {
        width: 30vw;

    }
    .section3Container {
        .section3ContainerTxt1 {
            p {
                margin-bottom: 5rem;
            }
            a {
                text-decoration: none;
                color: $fourthColor;
                padding: 0.7em 2em;
                border: solid $thirdColor;
            }
            a:hover {
                background-color: $thirdColor;
            }
        }
    }
}

.section4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: $secondaryColor;

    img{
        width: 7.5vw;
    }
    .kontaktInfo{
        list-style: none;
    }
    ul{
        li{
            color: $fourthColor;
            font-size: 1.2vw;
            a{
                color: $fourthColor;
                text-decoration: none;
            }
        }
    }
}