@import './variables';

body{
    font-family: $paragraphFont;
    margin: 5%;
    background-color: $primaryColor;

}
/*Section start the first you see on the page*/
.sectionStart {
    text-align: center;
    img {
        margin-top: 10%;
    }
}

/*section 1 below*/
.section1 {
    background-color: $primaryColor;
    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
        button {
            position: fixed;
            right: 2rem;
            bottom: 2rem;
            background-color: transparent;
            border: none;
            img {
                opacity: 50%;
                width: 42px;
            }
            img:hover {
                opacity: 30%;
            }
    }
    h1 {
        color: $fourthColor;
        text-decoration: underline;
    }
    .headerLogo {
        img {
            width: 75px;
            height: 75px;
        }
    }
    }
    .section1Container {
        margin-bottom: 50%;
        .Section1Info {
            float: left;
        }
        iframe {
            float: right;
            width: 40vw;
            height: 40vh;
            border-width: 0px;
        }
        h1 {
            color: $thirdColor;
            font-size: 5em;
            margin: 0;
        }
        p {
            color: $fourthColor;
        }
        button {
            padding: 0.9em 1.5em;
            background-color: $thirdColor;
            border: none;
            border-radius: 0.1em;
        }
}

/*section 2 below*/
.section2 {
    h1 {
        text-align: center;
        color: $thirdColor;
    }
    .section2Container {
        img {
            width: 200px;
            height: 200px;
        }
    }
}

/*section 3 below*/
.section3 {
    .section3HeadImg {
        display: flex;
        justify-content: center;
    }
}
}